
.content_size {
  height: 10em;
  width: 20%;
  display: flex;
  border: 2px solid #cfcfcf;
  border-radius: 2em;
  color: forestgreen;
}

.cardContent {
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: default !important;
}
