::-webkit-scrollbar {
  width: 0;
}

.w40 {
  width: 100%;
  padding: 6em 0;
  overflow-y: scroll;
}

.separation {
  padding-bottom: 2em;
  border-bottom: 1px solid #cfcfcf;
}

.noTransaction {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b8092;
  padding-top: 3em;
}